conf t
!
hostname {{ hostname }}
!
no ip domain-lookup

key chain kch_OSPF
key 1
key-string 0 un_password_cisco

feature ospf   
!
router ospf UNDERLAY			
router-id {{id}}
max-metric router-lsa include-stub on-startup 600
log-adjacency-changes
area 0.0.0.0 authentication message-digest
auto-cost reference-bandwidth 400 Gbps
!
!
{%- for interface in setup.items() %}   {# Debut de la boucle sur les interfaces#}
{% if interface[0] == 'Vlan2'%}
vlan 2
name vl2_L2L-UNDERLAY-OSPF
!	
interface {{interface[0]}}
description {{interface[1].target_name}} underlay ospf peering
no shutdown
mtu 9216
no ip redirects
ip address {{interface[1].ip}}/{{interface[1].mask}}
no ipv6 redirects
ip ospf authentication message-digest
ip ospf authentication key-chain kch_OSPF
ip ospf network point-to-point
ip router ospf UNDERLAY area 0.0.0.0
!
!
{% elif interface[0] == 'loopback0'%}
interface {{interface[0]}}
description Routing interface
ip address {{interface[1].ip}}/{{interface[1].mask}}
ip ospf network point-to-point
ip router ospf UNDERLAY area 0.0.0.0
!
!
{% elif interface[0] == 'loopback1' %}
interface {{interface[0]}}
description VXLAN interface
ip address {{interface[1].ip}}/{{interface[1].mask}}
ip address {{interface[1].ip2}}/{{interface[1].mask2}} secondary
ip ospf network point-to-point
ip router ospf UNDERLAY area 0.0.0.0 
!
!
{% else %}{{interface[0]}}
description « vers spine {{interface[1].target_name}} port {{interface[1].target_port}} »
no switchport
ip address {{interface[1].ip}} {{interface[1].mask}}
no shut
ip ospf authentication message-digest
ip ospf authentication key-chain kch_OSPF
ip ospf network point-to-point
ip router ospf UNDERLAY area 0.0.0.0
!
!
{% endif %}{%- endfor %}
{%- for interface in unused %}
Ethernet1/{{interface}}
Description NotUSED
switchport
shutdown
ip ospf authentication message-digest
ip ospf authentication key-chain kch_OSPF
ip ospf network point-to-point
ip router ospf UNDERLAY area 0.0.0.0
!
!
{%- endfor %}
!
